---
import {imageGridHome} from "../global";
---
<div class="flex flex-row flex-wrap justify-end gap-4 mx-auto mb-4 container">
    <button class="bg-zinc-800 hover:bg-zinc-700 px-6 py-2 rounded-full text-zinc-50 text-sm transition-all duration-500 ease-in-out cursor-pointer">Portraits</button>
    <button class="bg-zinc-800 hover:bg-zinc-700 px-6 py-2 rounded-full text-zinc-50 text-sm transition-all duration-500 ease-in-out cursor-pointer">Cars</button>
</div>
<div class="gap-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 mx-auto container">
    <img src="/src/images/design/herobg.webp" alt="" class="rounded-xl object-cover aspect-[9/16]">
    <img src="/src/images/design/herobg.webp" alt="" class="rounded-xl object-cover aspect-[9/16]">
    <img src="/src/images/design/herobg.webp" alt="" class="rounded-xl object-cover aspect-[9/16]">
    <img src="/src/images/design/herobg.webp" alt="" class="rounded-xl object-cover aspect-[9/16]">
</div>